html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-weight: normal;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    vertical-align: middle;
}


/* custom */

a {
    outline: none;
    color: #16418a;
    text-decoration: none;
    backface-visibility: hidden;
}

a:focus {
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    outline: -webkit-focus-ring-color auto 0;
}

body,
html,
#app,
#nav {
    height: 100%;
}


/* body {
    background-color: #f6f8f9;
} */

.waves-area {
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 0;
}

.waves-area svg {
    overflow: hidden;
    vertical-align: middle;
}

.waves-area .parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.waves-area .parallax>use:first-child {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: hsla(0, 0%, 100%, 0.7);
}

.waves-area .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: hsla(0, 0%, 100%, 0.5);
}

.waves-area .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: hsla(0, 0%, 100%, 0.3);
}

.waves-area .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #fff;
}

.concise {
    padding: 30px 24px;
    border-radius: 20px;
    margin-top: 10px;
    /* box-shadow: 0 0px 25px 5px rgba(46, 58, 89, 0.1); */
    box-sizing: border-box;
    background-color: #fff;
    transition: box-shadow .3s;
}
.article-concise {
    padding: 16px 20px;
    border-radius: 20px;
    margin-top: 10px;
    /* box-shadow: 0 0px 25px 5px rgba(46, 58, 89, 0.1); */
    box-sizing: border-box;
    background-color: #fff;
    transition: box-shadow .3s;
}

.concise:hover {
    box-shadow: 0 0px 25px 5px rgba(46, 58, 89, 0.1);
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    to {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 576px) {
    .concise {
        padding: 20px 10px
    }
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 2px;
    background-color: #e9e9e9;
}

.container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
