.marked
    #write
        margin: 0 auto
        padding: 20px 30px 100px
        min-height: 100%
        img
            cursor: default;
            border-left: 2px transparent solid;
            border-right: 4px transparent solid;
            border-radius: 2px;
            display: block;
            margin: auto;
        // 加粗
        strong
            color: #ffffff;
            display: inline-block;
            font-weight: normal;
            font-size: 0.9em;
            padding: 0 7px;
            background-color: #909090;
            border-radius: 3em;
        // 斜体
        em
            padding: 0 5px 0 2px;
        // 下划线

        // 代码

        // 删除线
        // 注释
        // 超链接
        // 图像

        // —级标题
        h1
            color: red
        // 二级标题
        // 三级标题 
        // 四级标题
        // 五级标题
        // 六级标题
        // 段落
        // 表格
        // 引用
        // 有序列表
        // 无序列表
        // 链接
        // 引用
        // 脚注
        // 水平分割线
